/* For Clean theme */
.mform #fgroup_id_notifyprofiles.fitem .felement > span,
.mform #fgroup_id_notifymessages.fitem .felement > span{
    display: block;
}

/* For Boost theme */
.mform #fgroup_id_notifyprofiles.fitem .felement > fieldset > div,
.mform #fgroup_id_notifymessages.fitem .felement > fieldset > div{
    flex-direction: column !important;
    align-items: start !important;
}

.mform #fgroup_id_notifyprofiles.fitem .felement,
.mform #fgroup_id_notifymessages.fitem .felement{
    overflow-y: auto;
    max-height: 250px;
}
